* {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

html {
  font-size: 10px;
}

body {
  background-color: #202124;
  color: white;
  font-family: 'Catamaran', sans-serif;
  /*font-family: 'Yeseva One', cursive;*/ /*Saving for later*/
  font-size: 1.6rem;
  line-height: 26px;
}

.container {
  margin: 0 2rem;
}

/* Font Sizes*/
h1 {
  font-size: 4rem;
}

h2 {
  font-size: 3rem;
}

h3 {
  font-size: 2rem;
}

.yeseva-h1{
  font-size: 4rem;
  font-family: 'Yeseva One', cursive;
}

.yeseva-h2 {
  font-size: 3rem;
  font-family: 'Yeseva One', cursive;
  line-height: 4rem;
}

.yeseva-h3{
  font-size: 2rem;
  font-family: 'Yeseva One', cursive;
}

strong {
  font-weight: bold;
}

header {
  height: 100vh;
}

header #hero-img {
  background-image: url("./images/header-img.jpg");
  background-position: center;
  background-size: cover;
  float:left;
  height: 100vh;
  position: relative;
  width: 100%;
}

header #hero-text {
  left: 50%;
  margin-top: 4rem;
  position: absolute;
  text-align: center;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
}

#hero-text h2 {
  padding-bottom: 2rem;
}

header #view-work {
  bottom: 0;
  left: 50%;
  position:absolute;
  text-align:center;
  transform: translate(-50%, -50%);
}

#last-name {
  display: none;
}

span.intro {
  opacity: 0.87;
}

.intro-emphasis:hover {
  color: #FF5964;
}

strong.intro-emphasis {
  font-weight: bolder;
  font-size: 1.8rem;
}

/* Styling navigation links */
.nav-bar {
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding: 2rem;
}

#view-work p {
  text-decoration: none;
}

header .links {
  display: flex;
  flex-direction: row;
}

.links {
  list-style-type: none; /* Whether there is a bullet or not */
  margin: 0;
  padding: 0;
  overflow: hidden;
  /*background-color: #ff0000;*/
}

.links li a {
  color: white;
  float: left;
  padding: .8rem 1.6rem;
  text-decoration: none;
  font-weight: bold;
}

.links li a:hover {
  color: #B2F7EF;
}

nav .links li a:active {
  color: #B2F7EF;
}

/* Styling <a> going to Case Studies*/
.link-to-work {
  color: white;
  text-decoration: none;
}

.link-to-work:hover {
  color: #B2F7EF;
}

.rec-button {
  background-color: inherit;
  border: 1px solid white;
  color: white;
  display: block;
  font-family: 'Catamaran', sans-serif;
  font-weight: bold;
  font-size: 1.8rem;
  height: 50px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5rem;
  padding: 1rem;
  text-align: center;
  text-decoration: none;
  /*width: 80%;*/
}

.rec-button:hover{
  background-color: #B2F7EF;
  color: black;
}

/* Styling the Circle buttons */
#cto-buttons-wrapper {
  display: flex;
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.call-to-action-buttons {
  padding: 0px 10%;
}

.circles {
  align-items: center;
  border: 1px solid white;
  height: 9rem;
  width: 9rem;
  display: flex;
  border-radius: 50%;
  justify-content: center;
  text-align: center;
}

.circles-type {
  color: white;
  font-family: 'Yeseva One', cursive;
  font-size: 1.6rem;
  text-decoration: none;
}

#cto-buttons-wrapper .call-to-action-buttons a:hover {
  opacity: .5;
}

#call-to-action {
  left: 50%;
  position: absolute;
  text-align: left;
  top: 30%;
  transform: translate(-50%, -50%);
  width: 80%;
}

#bio-container .bio-resume:hover {
  opacity: .5;
}

/* ----- Case Studies ------ */
.work {
  text-align: center;
  padding: 4rem 2rem;
}

.case-study-title {
  padding-bottom: 2rem;
}

#nimbus-study-container {
margin: 0 2rem;
padding-bottom: 4rem;
padding-top: 4rem;
}

#home-responsive-dt {
  display: block;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  max-width: 53rem;
  padding: 4rem 0;
  width: 80%;
}

#home-responsive-mobile {
  display: none;
}


.read-case-study-button {
  margin: 3rem 2rem 0 1rem;
}

/* ----- Looking for ----- */
#looking-for{
background-image: url("./images/looking-for.jpg");
background-position: center;
background-size: cover;
float:left;
height: 75vh;
position: relative;
width: 100%;
}

.looking-for-title {
  padding: 2rem 0;
}

/* ----- Footer ----- */
footer {
  align-items: center;
  border-top: 1px solid white;
  display: flex;
  justify-content: space-between;
  padding: 1rem 2rem;
}

footer ul {
  display: flex;
  flex-direction: row;
}

footer ul li {
  padding: 0 .5rem;
  align-items: center;
}

.sm-icons {
height: 2.5rem;
width: 2.5rem;
}

/* ------ Nimbus Case Study Styling ------ */

/* Styling navigation links */
#project-header-container {
  margin: 0 2rem;
  height: auto;
}

nav .links {
  display: flex;
  flex-direction: row;
}

.desktop-prototype {
  display: none;
}

/* Styling Project Introduction */
main p{
  width: 100%;
}

#nimbus-final {
  height: auto;
  margin: 0 2rem;
  max-width: 100%;
  padding: 4rem 0;
  width: 90%;
}

#nimbus-title {
  margin-bottom: 5rem;
  text-align: center;
}

#extra-title {
  display:none;
}

#desktop-survey {
  display: none;
}

.open-link {
  margin: 3rem 0 5rem 0;
}

.overview-title {
  margin-bottom: 3rem;
}

.title-spacing {
  margin-bottom: 2rem;
}

.artifact-spacing {
  margin-bottom: 5rem;
}

li {
  list-style: none;
}

.artifact-title {
  font-size: 2.5rem
}

.stat-spacing {
  display: flex;
  justify-content: center;
}

.percent-column {
  margin: 0 2%;
  padding: 4rem 1rem;
  width: 15rem;
}

.percent {
  text-align: center;
  padding-bottom: 1.5rem;
}

.percent-column p {
  margin:auto;
  text-align: center;
  width: 95%;
}

#competitive-img {
  display: flex;
  justify-content: center;
}

#drive-img{
  height: 14rem;
  width: 16rem;
}

/* ----- Nimbus User Personas -----*/
.persona-overview {
  text-align: center;
}

blockquote {
  float: right;
  margin-top: 3rem;
  text-align: center;
  width: 50%;
}

.motivation ul {
  padding-left: 2rem;
}

.motivation li {
  list-style: circle;
}

.persona-overview p {
  margin-bottom: 3rem;
}

.persona-spacing {
  margin-bottom: 1rem;
}

#eduardo-persona {
  display: none;
}

/* ----- Nimbus User Flows -----*/
.user-flow-img {
  height: auto;
  max-width: 100%;
  padding: 2.5rem 0 3rem 0;
}

#user-flow-wrapper {
  display: none;
}

/*----- Nimbus Wireframes ----- */
#wireframe-sketches {
  display: none;
}

/*----- Nimbus IA ----- */

section h1 {
  line-height: 1;
}

/*----- Stories & Flows ----- */
#user-flows {
  display:none;
}

#stories-flows-wrapper {
  display: flex;
  justify-content: center;
  margin: 5rem 0;
}

.ia-buttons {
  margin: 0px 3rem;
}

.ia-buttons:hover {
  opacity: .5;
}

#low-fi-video {
  width: 80%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  display: block;
  margin-top: 4rem;
}


.testing-img {
  padding: 2rem 0 2rem 0;
  height: auto;
  width: 100%;
}

/* ----- Nimbus Visual ----- */

#nimbus-logo{
  margin: 5rem 0 0 0;
}

.logo-img {
  max-width: 100%;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
}

.visual-description {
  display: none;
}

#nimbus-logo-sketches {
  display: none;
}

#logos {
  margin-top: 3rem;
}

#nimbus-colors {
  width: 80%;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 1rem;
}

#type-img {
  max-width: 100%;
  height: auto;
}

#mobile-proto-img {
  display: block;
  height:auto;
  margin-left: auto;
  margin-right: auto;
  margin-top: 3.5rem;
  max-width: 15rem;
  width: 40%;
}

#mobile-proto-img:hover {
  opacity: 0.5;
}

#desktop-proto-img {
  display: none;
}

#back-to-top {
  color: white;
  margin: 4rem 0;
  text-align: center;
  text-decoration: none;
}

#back-to-top:hover {
  color: #5FBFF9;
}

.nimbus-phase-container {
  margin: 3rem 2rem 0 2rem;
}

/* ----- Contact Page Styling ------ */

.responsive-hero {
  border-radius: 80%;
  width: 28.8rem;
  height: auto;
  /* Centers Image*/
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 5rem;
  margin-top: 5rem;
}

main {
  padding: 5rem 2rem;
}

#contact-looking-for h1 {
  line-height: 1;
}

.call-to-action {
    padding-bottom: 0rem;
    padding-top: 6rem;
}

.call-to-action a:hover {
  opacity: .5;
}

.text-input {
  background-color: transparent;
  border: 1.5px solid white;
  border-radius: 8px;
  color: white;
  font-family: 'Catamaran', sans-serif;
  font-size: 1.7rem;
  height: 6rem;
  margin-bottom: 1rem;
  padding-left: 1rem;
  width: 100%
}

textarea {
  background-color: transparent;
  border: 1.5px solid white;
  border-radius: 8px;
  color: white;
  font-family: 'Catamaran', sans-serif;
  font-size: 1.7rem;
  height: 12rem;
  margin-bottom: 1rem;
  width: 100%;
  padding-bottom: 8rem;
  padding-left: 1rem;
  overflow: auto;
}

.submit {
  background-color: #228CDB;
  border: none;
  border-radius: 8px;
  color: white;
  font-family: 'Catamaran', sans-serif;
  font-size: 1.7rem;
  font-weight: bolder;
  height: 6rem;
  margin-bottom: 2rem;
  width: 100%
}

/* ----- Biography Styling ----- */
.about-me {
  min-height: 8rem;
}

.bio-header {
  font-size: 2.5rem;
  font-family: 'Yeseva One', cursive;
}

.bio-resume {
  margin-left: auto;
  margin-right: auto;
}

#biography h2 {
  margin-top: 2rem;
}

#bio-cta {
  color: #228CDB;
  text-decoration: none;
}

#bio-cta:hover {
  opacity: .5;
}

/* Photo Gallery */
.thumbnail {
  max-width: 40%;
}
.website {
 font-weight: bold;
 font-size: 0.8em;
 color: #ff3d3d;
}
.lightbox {
	display: none;
	position: fixed;
	z-index: 999;
	width: 100%;
	height: 100%;
	text-align: center;
	top: 0;
	left: 0;
	background: rgba(0,0,0,0.8);
}
.lightbox img {
	max-width: 95%;
	max-height: 80%;
	margin-top: 2%;
}
.lightbox:target {
	outline: none;
	display: block;
}

img.thumbnail {
  max-width: 100%;
  width: 100%;
  display: block;
  padding: 1rem;
  margin-left: auto;
  margin-right: auto;
}

/*@media (max-width:765px) {
	.thumbnail {
		max-width: 95%;
	}
	.lightbox img {
		margin-top: 50%;
	}*/


@media (max-width: 480px) {
  .nav-bar {
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding: 2rem;
  }

  .call-to-action-buttons {
    padding: 0px 10%;
  }

  .rec-button {
    width: 85%;
  }

  #low-fi-video {
    width: 90%;
  }
}

  /* Media Query for low resolution  Tablets, Ipads */
  @media (min-width: 481px) {

  /* -----Home Page ---- */
    .nav-bar {
    padding: 2rem 3rem 0 3rem;
   }

   .rec-button {
     width: 50%;
   }

    #hero-text p {
      padding-left: 12.5%;
      padding-right: 12.5%;
    }

    #last-name {
      display: inline;
    }

    #looking-for {
      height: 65vh;
    }

    .call-to-action-buttons {
      padding: 0 20%;
    }

    footer {
      padding: 1rem 3rem;
    }

    footer ul li {
      padding: 0 1rem;
    }

    /* ------ Contact Page ----- */
    #contact-container {
      padding: 5rem 3rem;
      }

    /* ----- Nimbus Case Study ----- */
    #project-header-container {
      margin: 0 3rem;
    }

    main {
      padding: 5rem 3rem;
    }

    .percent-column {
      width: 25rem;
    }

    .percent-column p {
      width: 70%;
      margin: auto;
    }

    .stat-spacing {
      display: flex;
      justify-content: center;
    }

    #competitive-img {
      display: flex;
      justify-content: center;
      margin-bottom: 5rem;
    }

    .comp-img {
      padding: 0 5rem;
    }

    blockquote {
      float: none;
      margin-bottom: 3rem;
      width: 100%;
    }

    #stories-flows-wrapper {
      display: flex;
      justify-content: center;
    }

    .ia-buttons {
    margin: 0px 10%;
    }

    #low-fi-video {
      width: 80%;
      height: auto;
      margin-left: auto;
      margin-right: auto;
      display: block;
      margin-top: 4rem;
    }

    #logos {
      display: flex;
      flex-direction: column;
      padding: 2rem 0;
    }

  }


  /* Media Query for Tablets Ipads portrait mode */
  @media (min-width: 768px) {

  /*----- Home Page -----*/
    .nav-bar {
      padding: 3rem 5rem 0 5rem;
    }

    #hero-text p{
      padding-left: 20%;
      padding-right: 20%;
    }

    .rec-button {
      width: 30%;
    }

    #looking-for {
      height: 60vh;
    }

    #cto-buttons-wrapper {
      left: 40%;
    }

    .call-to-action-buttons {
      padding: 0 30%;
    }

    footer {
      padding: 2rem 5rem 1rem 5rem;
    }

    footer ul li {
      padding: 0 1.5rem;
    }

    #nimbus-study-container p {
      width: 33rem
    }

    #home-responsive-dt {
      margin-left: auto;
      margin-right: auto;
      width: 60%;
    }

    /*----- Biography Page -----*/
    #bio-container {
      padding: 6rem 10rem;
    }

    section .container {
      margin: 0 0rem;
    }

    img.thumbnail {
      display: inline;
      height: auto;
      width: 49%;
      padding: 1rem;
    }

    /*----- Contact Page -----*/
    #contact-container {
      width: 75%;
      margin: auto;
    }

    .call-to-action {
    padding-bottom: 3rem;
    padding-top: 5rem;
    }

    /* ----- Nimbus Project ----- */
    #project-header-container {
      padding: 0 5rem;
    }

    main {
      padding: 5rem 5rem;
    }

    #extra-title {
      display: inline;
    }

    #nimbus-quick {
      display: flex;
      justify-content: space-evenly;
      margin-top: 10rem;
      padding-right: 3rem;
    }

    .overview {
      text-align: center;
    }

    .percent-column {
      margin: 1rem 2%;
    }

    .stat-spacing {
      margin: 0 5%;
    }

    .persona-overview p {
      margin-bottom: 3rem;
      display: block;
      margin-left: auto;
      margin-right: auto;
    }

    .motivation {
      display: block;
      margin-left: auto;
      margin-right: auto;
      width: 50%;
    }

    .logo-img {
      width: 55%;
    }

    #type-img {
    width: 75%;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
}


  /* Media Query for Laptops and Desktops */
  @media (min-width: 1025px) {
    main p {
      width: 50%;
    }

    .nav-bar {
    padding: 4rem 10rem 0 10rem;
    }

    .links li a {
      padding: .8rem 3rem;
    }

    #hero-text p {
      padding-left: 30%;
      padding-right: 30%;
    }

    #nimbus-study-container {
      margin: 4rem 9rem;
    }

    #cto-buttons-wrapper {
      display:inherit;
      top: 50%;
      left: 80%;
    }

    .call-to-action-buttons {
      margin: 5rem 0;
    }

    .flex-container {
      display: flex;
      flex-direction: row-reverse;
      justify-content: center;
    }

    .flex-container {
      margin-top: 5rem;
    }

    #nimbus-study-container p {
      width: 33rem
    }

    #home-responsive-dt {
      margin-left: 0;
      margin-right: 0;
      width: 95%;
    }

    #home-responsive-mobile {
      display: initial;
      height: auto;
      margin-right: 5rem;
      margin-top:10rem;
      max-width: 15rem;
      width: 100%;
    }

    #home-responsive-dt:hover {
      opacity: .5;
    }

    #home-responsive-mobile:hover {
      opacity: .5;
    }

    .rec-button {
      width: 21rem;
    }

    .looking-for-title {
      padding-bottom: 3rem;
    }

    #call-to-action p {
      width: 75%;
      padding-left: 10%;
    }

    footer {
      padding: 2rem 10rem 2rem 10rem;
    }

    footer ul li {
      padding: 0 2rem;
    }

    #looking-for {
      height: 60vh;
    }

    .looking-for-title {
      padding-top: 10rem;
    }

    .call-to-action-buttons li {
      padding: 2rem 0;
    }

  /* ----- Biography Page ----- */
    main {
      padding: 1rem 9rem;
    }

    img.thumbnail {
      display: inline;
      height: auto;
      width: 30%;
      padding: 0;
      margin: 1rem;
      }

    #bio-container p {
     width: 60%;
    }

    .about-me {
      margin-bottom: 5rem;
      margin-top: 10rem;
      }

      .about-me h2 {
      text-align: center;
      }

    #bio-container .responsive-hero {
      margin-bottom: 5rem;
      margin-top: 5rem;
      position: absolute;
      left: 67%;
      }

    /* ----- Contact Page ----- */
    #contact-container .responsive-hero {
      position: absolute;
      left: 66%;
      margin-top: 3rem;
    }

    .bio-resume {
      margin-top: 5rem;
    }

    #contact-container {
      width: 100%;
      padding-left: 10rem;
      padding-right: 10rem;
    }

    #contact-looking-for p {
      width: 40%;
    }

    #contact-form-wrapper {
      margin: 5rem 0;
      text-align: center;
    }

    .text-input {
      width: 60%;
    }

    textarea {
      width: 60%;
    }

    .submit {
      width: 60%;
    }

    /* ----- Nimbus Project ----- */
    main {
      position: relative;
      padding: 1rem 10rem;
    }

    .phase-center p {
      margin-bottom: 3rem;
    }

    .nimbus-phase-container {
      margin: 10rem 2rem 0 2rem;
    }

    #project-header-container {
      margin: 0 5rem;
    }

    #nimbus-final {
      padding: 10rem 0;
    }

    #nimbus-quick {
      padding-right: 5rem;
    }

    #prototype-buttons {
      display: flex;
      justify-content: space-evenly;
      padding-left: 2rem;
      margin-bottom: 10rem;
    }

    .desktop-prototype {
      display: initial;
    }

    #overview-wrapper {
      margin-top: 10rem;
    }

    .full-para {
      width: 55%;
      display: block;
      margin-left: auto;
      margin-right: auto;
    }

    .artifact-spacing {
      margin-top: 5rem;
    }

    .phase-center {
      display: flex;
      flex-direction: row;
    }

    #mobile-survey {
      display: none;
    }

    #desktop-survey {
      display: initial;
    }

    #survey-chart {
      width: 80%;
      height: auto;
      max-width: 90rem;
      display: block;
      margin: auto;
    }

    .testing-wrapper p {
      margin-bottom: 2rem;
    }

    #comp-analysis {
      margin: 10rem 0;
    }

    #eduardo-persona {
      display: block;
    }

    .motivation {
      margin-left: auto;
      margin-right: auto;
      width: 60%;
    }

    .persona-wrapper {
      display: flex;
    }

    .persona-overview p {
      width: 100%;
    }

    #julia-persona .motivation {
      width: 85%;
    }

    #stories-flows-wrapper {
      display:none;
    }

    #user-flow-wrapper {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin: 10rem 0;
    }

    .user-flow-img {
      width: 100%;
      height: auto;
      max-width: 65rem;
    }

    #wireframe-sketches {
      display: block;
    }

    .wireframe-sketch {
      display: block;
      margin-bottom: 5rem;
      margin-left: auto;
      margin-right: auto;
      max-width: 70rem;
      width: 100%;
    }

    #wireframe-sketches-wrapper {
      margin: 5rem 0;
    }

    #low-fi-wrapper {
      margin-top: 10rem;
    }

    #low-fi-video {
      width: 70%;
    }

    #logos {
      padding: 5rem 0;
    }

    .logo-img {
      width:50%;
    }

    #nimbus-logo-sketches {
      display: block;
      margin: 5rem 0 10rem 0;
    }

    #nimbus-logo-sketches img {
      margin-right: 3rem;
      margin-top: 3rem;
    }

    #logo-sketches-wrapper {
      display: flex;
      justify-content: center;
    }

    #prototype-wrapper {
      display: flex;
      justify-content: space-evenly;
      margin: 5rem 0;
    }

    #desktop-proto-img {
      display: block;
      width: 100%;
      height: auto;
      max-width: 53rem;
    }

    #desktop-proto-img:hover {
      opacity: .5;
    }

    #mobile-proto-img {
      width: 70%;
    }

    .visual-description {
      display: block;
    }

    .visual-container {
      margin: 5rem 0;
    }

    .visual-wrapper {
      display: flex;
      flex-direction: row;
    }

    #nimbus-colors {
      width: 75%;
    }

    .visual-wrapper p {
      width: 55%;
    }

    #type-img {
      position: relative;
      bottom: -5rem;
      left: -1rem;
      width: 50%;
    }
  }
