* {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

html {
  font-size: 10px;
}

body {
  background-color: #202124;
  color: white;
  font-family: 'Catamaran', sans-serif;
  /*font-family: 'Yeseva One', cursive;*/ /*Saving for later*/
  font-size: 1.6rem;
  line-height: 26px;
}

.container {
  margin: 0 2rem;
}

/* Font Sizes*/
h1 {
  font-size: 4rem;
}

h2 {
  font-size: 3rem;
}

h3 {
  font-size: 2rem;
}

.yeseva-h1{
  font-size: 4rem;
  font-family: 'Yeseva One', cursive;
}

.yeseva-h2 {
  font-size: 3rem;
  font-family: 'Yeseva One', cursive;
  line-height: 4rem;
}

.yeseva-h3{
  font-size: 2rem;
  font-family: 'Yeseva One', cursive;
}

strong {
  font-weight: bold;
}

header {
  height: 100vh;
}

header #hero-img {
  background-image: url("./images/header-img.png");
  background-position: center;
  background-size: cover;
  float:left;
  height: 100vh;
  position: relative;
  width: 100%;
}

header #hero-text {
  left: 50%;
  margin-top: 4rem;
  position: absolute;
  text-align: center;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
}

#hero-text h2 {
  padding-bottom: 2rem;
}

header #view-work {
  bottom: 0;
  left: 50%;
  position:absolute;
  text-align:center;
  transform: translate(-50%, -50%);
}

span.intro {
  opacity: 0.87;
}

.intro-emphasis:hover {
  color: #FF5964;
}

strong.intro-emphasis {
  font-weight: bolder;
  font-size: 1.8rem;
}

/* Styling navigation links */
.nav-bar {
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding: 2rem;
}

#view-work p {
  text-decoration: none;
}

header .links {
  display: flex;
  flex-direction: row;
}

.links {
  list-style-type: none; /* Whether there is a bullet or not */
  margin: 0;
  padding: 0;
  overflow: hidden;
  /*background-color: #ff0000;*/
}

.links li a {
  color: white;
  float: left;
  padding: .8rem 1.6rem;
  text-decoration: none;
}

.links li a:hover {
  color: #B2F7EF;
}

li a:active {
  color: #E0ACD5;
}

/* Styling <a> going to Case Studies*/
.link-to-work {
  color: white;
  text-decoration: none;
}

.link-to-work:hover {
  color: #B2F7EF;
}

.rec-button {
  background-color: inherit;
  border: 1px solid white;
  color: white;
  display: block;
  font-family: 'Catamaran', sans-serif;
  font-weight: bold;
  font-size: 1.8rem;
  height: 50px;
  margin: auto;
  padding: 1rem;
  text-align: center;
  text-decoration: none;
  width: 290px;
}

.rec-button:hover{
  background-color: #228CDB;
}

/* Styling the Circle buttons */
#call-to-action-buttons {
  display: flex;
  justify-content: space-between;
  left: 50%;
  position: absolute;
  text-align: left;
  top: 75%;
  transform: translate(-50%, -50%);
  width: 80%;
}

.circles {
  align-items: center;
  border: 1px solid white;
  height: 110px;
  width: 110px;
  display: flex;
  border-radius: 50%;
  justify-content: center;
  text-align: center;
}

.circles-type {
  color: white;
  font-family: 'Yeseva One', cursive;
  font-size: 1.8rem;
  text-decoration: none;
}

.circles:hover {
  background-color: #228CDB;
}

#call-to-action {
  left: 50%;
  position: absolute;
  text-align: left;
  top: 30%;
  transform: translate(-50%, -50%);
  width: 80%;
}

/* Case Studies Title */
.work {
  text-align: center;
  padding: 4rem 2rem;
}

.case-study-title {
  padding-bottom: 2rem;
}

#nimbus-study-container {
margin: 0 2rem;
padding-bottom: 4rem;
}

.home-responsive-dt {
  height: auto;
  margin: 0 3rem;
  max-width: 100%;
  padding: 4rem 0;
  width: 80%;
}

.read-case-study-button {
  margin: 3rem 2rem 0 1rem;
}

/*Looking for*/
#looking-for{
background-image: url("./images/looking-for.png");
background-position: center;
background-size: cover;
float:left;
height: 80vh;
position: relative;
width: 100%;
}

.looking-for-title {
  padding-bottom: 1.5rem;
}

/* Footer */
footer {
  align-items: center;
  border-top: 1px solid white;
  display: flex;
  justify-content: space-between;
  padding: 1rem 2rem;
}

footer ul {
  display: flex;
  flex-direction: row;
}

footer ul li {
  padding: 0 1.2rem;
  align-items: center;
}

.sm-icons {
height: 2.5rem;
width: 2.5rem;
}

/* ------ Nimbus Case Study Styling ------ */

/* Styling navigation links */
#project-header-container {
  margin: 0 2rem;
  height: auto;
}

nav .links {
  display: flex;
  flex-direction: row;
}


/* Styling Project Introduction */
#nimbus-final {
  height: auto;
  margin: 0 2rem;
  max-width: 100%;
  padding: 4rem 0;
  width: 90%;
}

#nimbus-title {
  margin-bottom: 2.5rem;
  text-align: center;
}

.open-link {
  margin: 3rem 0 5rem 0;
}

.overview-title {
  margin-bottom: 4rem;
}

.title-spacing {
  margin-bottom: 2rem;
}

.artifact-spacing {
  margin-bottom: 5rem;
}

li {
  list-style: none;
}

.artifact-title {
  font-size: 2.5rem
}

.stat-spacing {
  display: flex;
  /*flex-direction: row;*/
  align-items: center;
  align-items: baseline;
}

.percent-column {
  float: none;
  width: 100%;
  margin: auto;
  padding: 4rem 1rem;
}

.percent {
  text-align: center;
  padding-bottom: 1.5rem;
}

.percent-column p {
  text-align: center;
}

#competitive-img {
  display: flex; 
}

#drive-img{
  height: 14rem;
  width: 16rem;
}

.persona-overview {
  text-align: center;
}

blockquote {
  float: right;
  margin-top: 3rem;
  text-align: center;
  width: 50%;
}

.motivation ul {
  padding-left: 2rem;
}

.motivation li {
  list-style: circle;
}

.persona-spacing {
  margin-bottom: 1rem;
}


.user-flow-img {
  height: auto;
  max-width: 100%;
  padding: 2.5rem 0 3rem 0;
}


.testing-img {
  padding: 2rem 0 2rem 0;
  height: auto;
  width: 100%;
}


#nimbus-logo{
  margin: 5rem 0 0 0;
}

.logo-img {
  max-width: 100%;
  height: auto;
}

#nimbus-colors {
  width: 100%;
  height: auto;
}

#type-img {
  max-width: 100%;
  height: auto;
}

#mobile-proto-img {
  display: block;
  height:auto;
  margin-left: auto;
  margin-right: auto;
  margin-top: 3.5rem;
  max-width: 15rem;
  width: 40%;
}

#back-to-top {
  color: white;
  margin: 4rem 0;
  text-align: center;
  text-decoration: none;
}

#back-to-top:hover {
  color: #5FBFF9;
}

.nimbus-phase-container {
  margin: 6rem 2rem 0 2rem;
}

/* Contact Page Styling */

.responsive-hero {
  border-radius: 80%;
  width: 28.8rem;
  height: auto;
  /* Centers Image*/
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 5rem;
  margin-top: 5rem;
}

main {
  padding: 5rem 2rem;
}

.call-to-action {
  padding-bottom: 3rem;
}

.text-input {
  background-color: transparent;
  border: 1.5px solid white;
  border-radius: 8px;
  color: white;
  font-family: 'Catamaran', sans-serif;
  font-size: 1.7rem;
  height: 6rem;
  margin-bottom: 1rem;
  padding-left: 1rem;
  width: 100%
}

textarea {
  background-color: transparent;
  border: 1.5px solid white;
  border-radius: 8px;
  color: white;
  font-family: 'Catamaran', sans-serif;
  font-size: 1.7rem;
  height: 12rem;
  margin-bottom: 1rem;
  width: 100%;
  padding-bottom: 8rem;
  padding-left: 1rem;
  overflow: auto;
  overflow: break-word
}

.submit {
  background-color: #228CDB;
  border: none;
  border-radius: 8px;
  color: white;
  font-family: 'Catamaran', sans-serif;
  font-size: 1.7rem;
  font-weight: bolder;
  height: 6rem;
  margin-bottom: 2rem;
  width: 100%
}

/* Biography Styling */
.bio-header {
  font-size: 2.5rem;
  font-family: 'Yeseva One', cursive;
}

.bio-resume {
  margin-left: auto;
  margin-right: auto;
}

/* Photo Gallery */
.thumbnail {
  max-width: 40%;
}
.website {
 font-style: bold;
 font-size: 0.8em;
 color: #ff3d3d;
}
.lightbox {
	display: none;
	position: fixed;
	z-index: 999;
	width: 100%;
	height: 100%;
	text-align: center;
	top: 0;
	left: 0;
	background: rgba(0,0,0,0.8);
}
.lightbox img {
	max-width: 95%;
	max-height: 80%;
	margin-top: 2%;
}
.lightbox:target {
	outline: none;
	display: block;
}

img.thumbnail {
  height: 25rem;
  max-width: 100%;
  width: 30rem;
  margin-bottom: 1rem;
}

@media (max-width:765px) {
	.thumbnail {
		max-width: 95%;
	}
	.lightbox img {
		margin-top: 50%;
	}
